<a href="https://colab.research.google.com/github/Majumota/ConstruccionDB_12FEB/blob/main/Construcci%C3%B3n_DB_Taller_BI_Majumota.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Certainly! Designing a database schema for an online merch store requires understanding the entities involved and their relationships. Here's a basic schema for such a store:


*We'll use SQLite, a lightweight database that's integrated with Python, to create this online merch store database.*

Here's a Python script to set up the described database schema:

In [ ]:
import sqlite3

In [ ]:
def create_merch_store_db():
    # Connect to SQLite database (it will create 'merch_store.db' if it doesn't exist)
    connection = sqlite3.connect('merch_store.db')
    cursor = connection.cursor()

       # Pets table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Mascotas (
        IDMascota INTEGER PRIMARY KEY,
        NombreMascota TEXT NOT NULL,
        TipoMascota TEXT NOT NULL,
        EdadMascota INTEGER,
        PesoMascota INTEGER,
        TamañoMascota TEXT,
        RazaMascota TEXT NOT NULL
    )
    ''')


    # Users table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Clientes (
        IDCliente INTEGER PRIMARY KEY,
        IDMascota INTEGER,
        Nombre TEXT NOT NULL,
        Email TEXT NOT NULL UNIQUE,
        Dirección TEXT,
        Teléfono INTEGER,
        Satisfacción TEXT NOT NULL,
        Cumpleaños DATE,
        FOREIGN KEY (IDMascota) REFERENCES Mascotas(IDMascota)
    )
    ''')

    # Products table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Productos (
        IDProducto INTEGER PRIMARY KEY,
        IDCliente INTEGER,
        Categoría TEXT NOT NULL,
        Producto TEXT NOT NULL,
        PrecioProducto REAL NOT NULL,
        MarcaProducto TEXT,
        InventarioProducto INTEGER NOT NULL,
        FOREIGN KEY (IDCliente) REFERENCES Clientes(IDCliente)
    )
    ''')

    # Services table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Servicios (
        IDServicio INTEGER PRIMARY KEY,
        IDCliente INTEGER,
        Servicio TEXT NOT NULL,
        PrecioServicio REAL NOT NULL,
        ServicioDisponible TEXT NOT NULL,
        FOREIGN KEY (IDCliente) REFERENCES Clientes(IDCliente)
    )
    ''')

    # OrderDetails table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Ventas (
        IDVenta INTEGER PRIMARY KEY,
        IDProducto INTEGER,
        IDServicio INTEGER,
        CantidadVenta INTEGER NOT NULL,
        PrecioUnidad INTEGER NOT NULL,
        TotalVenta INTEGER NOT NULL,
        FechaVenta DATE NOT NULL,
        MétodoPagoVenta TEXT,
        CanalVenta TEXT,
        FOREIGN KEY (IDProducto) REFERENCES Productos(IDProducto),
        FOREIGN KEY (IDServicio) REFERENCES Servicios(IDServicio)
    )
    ''')

    # Commit changes and close connection
    connection.commit()
    connection.close()

# Execute the function to create the database and tables
create_merch_store_db()

In [ ]:
print (create_merch_store_db)

<function create_merch_store_db at 0x7dbae6e44c10>

An Entity-Relationship (ER) model represents the logical structure of a database. The ER diagram showcases entities, their attributes, and the relationships between them.

Here's an ER diagram based on the database schema for the online merch store:

In [ ]:
import sqlite3

def print_database():
    # Connect to the SQLite database
    connection = sqlite3.connect('merch_store.db')
    cursor = connection.cursor()

    # List of tables in our schema
    tables = ['Mascotas', 'Clientes', 'Productos', 'Servicios', 'Ventas']

    # Iterate over each table and print its contents
    for table in tables:
        print(f"===== {table} =====")

        # Fetch all rows from the table
        cursor.execute(f"SELECT * FROM {table}")
        rows = cursor.fetchall()

        # Fetch column names for the table
        cursor.execute(f"PRAGMA table_info({table})")
        columns = [column[1] for column in cursor.fetchall()]

        # Print column names
        print(", ".join(columns))

        # Print rows
        for row in rows:
            print(row)

        # Add a newline for separation
        print("\n")

    # Close the database connection
    connection.close()

# Execute the function to print the database contents
print_database()

===== Mascotas =====
IDMascota, NombreMascota, TipoMascota, EdadMascota, PesoMascota, TamañoMascota, RazaMascota


===== Clientes =====
IDCliente, IDMascota, Nombre, Email, Dirección, Teléfono, Satisfacción, Cumpleaños


===== Productos =====
IDProducto, IDCliente, Categoría, Producto, PrecioProducto, MarcaProducto, InventarioProducto


===== Servicios =====
IDServicio, IDCliente, Servicio, PrecioServicio, ServicioDisponible


===== Ventas =====
IDVenta, IDProducto, IDServicio, CantidadVenta, PrecioUnidad, TotalVenta, FechaVenta, MétodoPagoVenta, CanalVenta

Running the script will insert test data into the database. After this, if you run the print_database() function from the previous answer, you'll see the test data printed out.

In [ ]:
import sqlite3

def insert_test_data():
    # Connect to the SQLite database
    connection = sqlite3.connect('merch_store.db')
    cursor = connection.cursor()

    # Insert test data into Pets
    Mascotas = [
        (1000, 'Rocky', 'Perro', 6, 30, 'Grande', 'Golden Retriever'),
        (1001, 'Pancho', 'Gato', 3, 5, 'Pequeño', 'Persa')
    ]
    cursor.executemany("INSERT INTO Mascotas (IDMascota, NombreMascota, TipoMascota, EdadMascota, PesoMascota, TamañoMascota, RazaMascota) VALUES (?, ?, ?, ?, ?, ?, ?)", Mascotas)

    # Insert test data into Users
    Clientes = [
        (232100, 1000, 'Sofía Cruz', 'soficruz@gmail.com', 'Calle 25# 15-20', 3164765576, 'Muy satisfecho', '1980-03-25'),
        (232155, 1001, 'Pablo Pérez', 'pablito25@hotmail.com', 'Calle 116# 50-3', 3145543212, 'Satisfecho', '1996-07-02'),
    ]
    cursor.executemany("INSERT INTO Clientes (IDCliente, IDMascota, Nombre, Email, Dirección, Teléfono, Satisfacción, Cumpleaños) VALUES (?, ?,?,?,?,?,?,?)", Clientes)

    # Insert test data into Products
    Productos = [
        (1001, 232100, 'Comida', 'Concentrado 15', 30000, 'Hills', 117),
        (2876, 232155, 'Accesorios', 'Collar pequeño', 18500, 'PetsandPets', 27)
    ]
    cursor.executemany("INSERT INTO Productos (IDProducto, IDCliente, Categoría, Producto, PrecioProducto, MarcaProducto, InventarioProducto) VALUES (?, ?, ?, ?, ?, ?,?)", Productos)

    # Insert test data into Services
    Servicios = [
        (5546, 232100, 'Peluquería', 30900, 'Si'),
        (5567, 232155, 'Baño', 40000, 'No')
    ]
    cursor.executemany("INSERT INTO Servicios (IDServicio, IDCliente, Servicio, PrecioServicio, ServicioDisponible) VALUES (?, ?, ?, ?,?)", Servicios)

    # Insert test data into Ventas
    Ventas = [
        (38276, 1001, 5546, 3, 30000, 90000, '2023-02-25', 'Efectivo', 'Físico'),
        (76452, 2876, 5567, 1, 18500, 18500, '2023-04-27', 'Tarjeta', 'Online'),
    ]
    cursor.executemany("INSERT INTO Ventas (IDVenta, IDProducto, IDServicio, CantidadVenta, PrecioUnidad, TotalVenta, FechaVenta, MétodoPagoVenta, CanalVenta) VALUES (?, ?, ?, ?,?,?,?,?,?)", Ventas)

    # Commit changes and close connection
    connection.commit()
    connection.close()

# Execute the function to insert test data
insert_test_data()

In [ ]:
# Execute the function to print the database contents
print_database()

===== Mascotas =====
IDMascota, NombreMascota, TipoMascota, EdadMascota, PesoMascota, TamañoMascota, RazaMascota
(1000, 'Rocky', 'Perro', 6, 30, 'Grande', 'Golden Retriever')
(1001, 'Pancho', 'Gato', 3, 5, 'Pequeño', 'Persa')


===== Clientes =====
IDCliente, IDMascota, Nombre, Email, Dirección, Teléfono, Satisfacción, Cumpleaños
(232100, 1000, 'Sofía Cruz', 'soficruz@gmail.com', 'Calle 25# 15-20', 3164765576, 'Muy satisfecho', '1980-03-25')
(232155, 1001, 'Pablo Pérez', 'pablito25@hotmail.com', 'Calle 116# 50-3', 3145543212, 'Satisfecho', '1996-07-02')


===== Productos =====
IDProducto, IDCliente, Categoría, Producto, PrecioProducto, MarcaProducto, InventarioProducto
(1001, 232100, 'Comida', 'Concentrado 15', 30000.0, 'Hills', 117)
(2876, 232155, 'Accesorios', 'Collar pequeño', 18500.0, 'PetsandPets', 27)


===== Servicios =====
IDServicio, IDCliente, Servicio, PrecioServicio, ServicioDisponible
(5546, 232100, 'Peluquería', 30900.0, 'Si')
(5567, 232155, 'Baño', 40000.0, 'No')


===== Ventas =====
IDVenta, IDProducto, IDServicio, CantidadVenta, PrecioUnidad, TotalVenta, FechaVenta, MétodoPagoVenta, CanalVenta
(38276, 1001, 5546, 3, 30000, 90000, '2023-02-25', 'Efectivo', 'Físico')
(76452, 2876, 5567, 1, 18500, 18500, '2023-04-27', 'Tarjeta', 'Online')

In [ ]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

To export the database contents to an Excel file, you can use the pandas library in combination with the openpyxl library. Here's how you can do it:

Use pandas to read the database tables into dataframes.
Use the to_excel function from pandas to write these dataframes to an Excel file.
First, ensure you have both pandas and openpyxl installed. Since I can't access the internet directly in this environment, I'll provide you with a script assuming you have these libraries installed. If you don't, you can install them using:

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# Instalar la biblioteca necesaria y montar Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
def export_to_excel_corrected():
    # Connect to the SQLite database
    connection = sqlite3.connect('merch_store.db')

    # List of tables in our schema
    tables = ['Mascotas', 'Clientes', 'Productos', 'Servicios', 'Ventas']

    # Create a new Excel writer object
    file_path = '/content/drive/My Drive/merch_store_natalia.xlsx'
    with pd.ExcelWriter(file_path, engine='openpyxl') as writer:
        for table in tables:
            # Read table into dataframe
            df = pd.read_sql(f"SELECT * FROM {table}", connection)

            # Write dataframe to Excel
            df.to_excel(writer, sheet_name=table, index=False)

    # Close the database connection
    connection.close()

    print(f"Data exported to {file_path}")

# Execute the function to export data to Excel
export_to_excel_corrected()

Data exported to /content/drive/My Drive/merch_store_natalia.xlsx